# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=credenciales_de_usuarios
DB_USER=postgres
DB_PASSWORD=root

# Configuración del servidor
PORT=5000
JWT_SECRET=rootroot

# Configuración de Email
EMAIL_USER=axeldoge4@gmail.com
EMAIL_PASSWORD=cmgo xbpn ente sqva

# Nota: Para Gmail, necesitas generar una "Contraseña de aplicación" en lugar de usar tu contraseña normal
# Ve a: https://myaccount.google.com/apppasswords
